/*
  Simple use of indentation, different selectors, and the '&' parent selector
*/

body
  color blue

  .float-left
    float left

  .float-right
    float right

  .special
    font-weight bold

  .red-text
  .red-writing
    color red

  div
    background-color yellow

    span
      position relative
      top 2px

    &.special
      font-size 20px

    &:hover
      font-color purple