/*
  Using variables to hold oft-used values
*/

default-text-color = black
left-padding = 2em
right-padding = 2em
top-padding = 1em
bottom-padding = 4em

div
  padding top-padding right-padding bottom-padding left-padding

.default-text-color
  color default-text-color

// Reference values defined in the same scope
.class1
  //height 100px

  .class2
    width 100px
    margin-left @width // - 20
    margin-top 50px unless @height